.secondary-spacer {
  height: 50px;
}

form label{
  display: block;
  margin-bottom: 0rem;
}

form input[type=text]{
    margin-bottom: 1rem;
}

form input[type=submit]{
    margin-top: 1rem;
}

form select{
    margin-bottom: 1rem;
}
